body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #d4ac67;
    color: #000000;
}


.banner {
    background-color: #7a3f17;
    text-align: center;
    padding: 60px 0;
}

.banner h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: black;
}


nav {
    background-color: #d4ac67;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 25px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #1c4b17;
}


.content {
    padding: 40px;
}

.content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.brown {
    color: #4f270c; 
    font-weight: bold; 
}
