body {
    background: #c87bcd;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 40px auto;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    background: #630547;    
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(168, 4, 108);
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background: #eb79c9;
    color: rgb(255, 255, 255);
}
